:host {
  display: block;
  position: relative;
  z-index: 1000; /* Mayor que el z-index del sidebar */
  background-color: white;
  width: 100%;
}

footer {
  border-top: 1px solid rgba(0,0,0,.125);
  font-size: 0.85rem;
}


@media (max-width: 576px) {
  footer {
    border-top: 1px solid rgba(0,0,0,.125);
    font-size: 0.75rem;
  }
  
  .container {
    padding: 0 8px;
  }
}