::ng-deep .mat-mdc-header-cell .mat-sort-header-container {
  display: flex !important;
  justify-content: center !important;
  margin-left: 1rem !important;
}

/* AGREGAR: Fondo blanco para la tabla */
::ng-deep .mat-mdc-table,
.mat-mdc-row,
.mat-mdc-header.mat-mdc-row,
.mat-mdc-cell,
.mat-mdc-header-cell,
.mat-elevation-4,
.mat-mdc-paginator {
  background-color: white !important;
}

/* AGREGAR: Badges de categoría con mismo ancho y centrado perfecto */
::ng-deep .mat-mdc-cell .badge {
  min-width: 120px !important;
  width: 120px !important;
  text-align: center !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
  height: 24px !important;
  line-height: 1 !important;
  padding: 4px 8px !important;
  vertical-align: middle !important;
}

/* Para badges más grandes */
::ng-deep .mat-mdc-cell .badge {
  min-width: 140px !important;
  width: 140px !important;
}

/* AGREGAR: Badges de stock redondos */
::ng-deep .mat-mdc-cell .badge.bg-success,
::ng-deep .mat-mdc-cell .badge.bg-danger {
  border-radius: 50% !important;
  min-width: 30px !important;
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  font-size: 12px !important;
}

/* Crear un color personalizado "warning" equivalente a btn-warning */
::ng-deep .mat-mdc-icon-button.mat-warning {
    color: #f0c674 !important; /* Amarillo Bootstrap warning */
}

/* Si quieres un naranja más oscuro como btn-warning al hover */
::ng-deep .mat-mdc-icon-button.mat-warning:hover {
    color: #ddb347 !important;
}

/* Crear un color personalizado "warning" equivalente a btn-warning */
::ng-deep .mat-mdc-icon-button.mat-danger {
    color: #d9534f !important; /* Amarillo Bootstrap warning */
}

/* Si quieres un naranja más oscuro como btn-warning al hover */
::ng-deep .mat-mdc-icon-button.mat-danger:hover {
    color: #e00000 !important;
}