.sidebar {
  position: fixed;
  left: 0;
  top: var(--navbar-height);
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height) - var(--footer-height)); /* Resta altura del navbar y footer */
  background: #f2f2f2;
  color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 900; /* Menor que el z-index del footer */
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}